h1 {
    color: green;
    text-align: center;
    }
h2 {
    color:gray;
      }
.images {
    background-color: green;
    flex-wrap: wrap;
    
}
img {
    width: 100%;
}
.images ul {
    display:flex;
}
