h1 {
    color: rgb(0, 165, 0);
    text-align: center;
    }
h2 {
    color:white;
    border-bottom: 40px solid green;
    padding-bottom: 20px;
      }
h3 {
    color: white;
}

.images {
    background-color: green;
    flex-wrap: wrap;
    border-top: green;

}


.images ul {
    display:flex;
    justify-content: space-around;
}
body {
    background-color: rgb(8, 70, 28);
    }



a:link {
    font-size:large;
    font-style: bold;
    color: white;
  }
  

  a:visited {
    color: rgb(255, 255, 255);
  }
  

  a:hover {
    color: rgb(153, 233, 143);
  }
  

  a:active {
    color: rgb(0, 255, 98);
  }

  p {
    align-content: center;
  }